/*
lighter blue: #1D4B73
dark blue: #1B3C59
auqa green: #60AEBF
light green: #CEDEDE
light grey: #F2F2F2
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  background-color: #1D4B73;
  color: #F2F2F2;
  max-width: 2500px;
  height: 19vh;
  margin: 0 0 1% 0;
}

header h1, header p {
  margin: 0 0 1% 1%;
}

.list__container {
  display: flex;
  flex-direction: row;
}

.list__box {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #CEDEDE;
  border-radius: 0.3rem;
  background-color: #CEDEDE;
  margin: 1em;
}

.list__box--header {
  display: flex;
  justify-content: space-between;
  background-color: #60AEBF;
  color: #F2F2F2;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
}

.list__box--header > h4:nth-last-child(1) {
  cursor: pointer;
}

.list__create {
  position: relative;
  display: flex;
  width: 200px;
  box-sizing: border-box;
  justify-content: center;
}

.list__create--input-div {
  box-sizing: border-box;
  width: 130px;
  position: absolute;
  top: 30px;
  left: 0;
}

.list__create--btn-div {
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  left: 140px;
}

.list__create--input-div input[type='text'] {
  padding: 3%;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.list__create--btn-div button {
  padding: 3%;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

/*--------------------- CARDS -items on the lists ----------------*/
.item__card {
  box-sizing: border-box;
  margin: 4.5%;
  border-radius: 0.3rem;
  background-color: #F2F2F2;
  color: #1B3C59;
  width: 180px;
  display: flex;
  flex-direction: column;
}

.item__card h5 {
  margin: 0.7em 0 0.7em 0.7em
}

.item__card p {
  margin: 0.35em 0.7em;
  font-size: 0.9em;
}

.item__cards--details {
  display: flex;
  /*justify-content: space-evenly;*/
}

.item__cards--details > p {
  align-self: flex-start;
}

.item__cards--buttonBox {
  display: flex;
  margin-left: 1em;
}

.item__cards--button {
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}
/*---------------- ADD NEW CARD / ITEM ---------------*/
.item__create {
 display: flex;
 margin: 1em 0.7em;
 box-sizing: border-box;
}

.item__create--input {
  border-bottom: 1px solid #60AEBF;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #1B3C59;
  background-color: #CEDEDE;
}

.item__create--button {
  background-color: #CEDEDE;
  border: none;
}

.item__create--button:hover {
  cursor: pointer;
}

/*---------------- MODALS -----------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: rgb(225,225,225, 0.5);
    position: absolute;
    top:0;
    z-index: 9999999999999;
}

.modalHeadline {
    display: flex;

}

.modalHeadline > h5 {
    margin: 0 0 20px 0;
    color: #1D4B73;
}

.modalBox {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 200px;
    background-color: #fff;
    border-radius: 0.3rem;
}

.modalContainer > .modalBox > p {
    font-size: 14px;
    text-align: left;
    line-height: 25px;
    margin: 0;
    color: #1D4B73;
}

.modalContainer > .modalBox > form > input {
    width: 95%;
}

.modalContainer > .modalBox > form > input:focus::placeholder {
    color: transparent;
}

.modalContainer > .modalBox > a {
    padding: 8px;
    background-color: #1D4B73;
    width: 150px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    align-self: center;
    margin-top: 40px;
}

.modalContainer > .modalBox > a:hover {
    background-color: #60AEBF;
}

.modalContainer > moveBox {
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorMessages > p {
    margin: 0;
    color: #737373;
}

.rename-error{
    color: red;
    padding-top: 10px;
    font-size: 0.7rem;
}

.modalsButtonsContainer {
    display: flex;
    justify-content: flex-end;
}

.modalButtons {
    display: flex;
    font-weight: 500;
    background-color: rgb(245, 244, 244);
    letter-spacing: 0.06rem;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    padding: 2%;
    margin-top: 7%;
    font-size: 11px;
}

/*---the Create and the Delete buttons on the portals---*/
.blueButtons {
    color: #fff;
    background-color: #1D4B73;
    border: 1px solid #1D4B73;
    margin-left: 5px;
}

.modalButtons:hover {
    cursor: pointer;
}

.blueButtons:hover {
    background-color: #60AEBF;
    border: 1px solid #60AEBF;
    color: #1B3C59;
}


@media only screen and (max-width: 580px) {
    .modalBox {
        width: 60%;
        height: auto;
    }

    .modalsButtonsContainer {
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .modalButtons {
        width: 90%;
        order: 2;
        text-align: center;
        display: block;
        padding: 10px 0;
        margin-top: 10px;
    }

    .modalButtons.blueButtons {
        order: 1;
        margin-left: 0;
        margin-top: 20px;
    }

    .modalContainer > .modalBox > form > input {
        height: 30px;
        padding-left: 5px;
    }
}
